*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
.swiggy--herosection{
    display: flex;
    height: 90vh;
    width: 100%;
}
.swiggy--herocontent{
    flex:3;
    display: flex;
    flex-direction: column;
    padding: 3rem;
     gap: 3rem;
    
}
.swiggy--heroimg{
    flex: 3;
    object-fit: cover;
    object-position: center;

}
.swiggy--heroimg img{
    max-width: 100%;
    min-width: 450px;
}
.swiggy--navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiggy--navlinks{
    display: flex;
    gap: 10px;
    align-items: center;
}
.swiggy--navlinks a{
    
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.swiggy--navlinks a:hover{
    color: rgb(252, 128, 25);
}
a.navlinks--dark-button{
    background-color: black;
    padding: .5rem 1rem;
    color: white;
}
a.navlinks--dark-button:hover{
     color: white;
}
.swiggy--ctacontent{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.swiggy--hero-text{
    font-size: 42px;
    font-weight: 600;
    color: #282C3F;
   
}
.swiggy--hero-subtext{
    font-size: 20px;
    color: #93959f;
    font-weight: 300;
}
.swiggysearch-cointainer{
    display: flex;
    align-items: center;
     flex-wrap: wrap;
     gap: 5px;
}
.swiggysearch-inputfield{
    outline: none;
    border: none;
    padding: 16px;
   flex: 2;
    font-size: 16px;
    
}

.swiggysearch{
    display: flex;
    align-items: center;
   border:1px solid rgb(252, 128, 25);
    flex: 4;
    align-items: center;
    display: flex;
   
    
  
}
/* .swiggysearch-inputfield:focus .swiggysearch{
    border:1px solid rgb(252, 128, 25);
} */
.swiggy--search-button{
    background-color: rgb(252, 128, 25);
    color: white;
    padding: 16px;
    text-decoration: none;
   
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  cursor: pointer;
    
}
.swiggysearch--location{
    color: #93959f;
    flex: 1;
   
}

.swiggy--city{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.swiggy--city h2{
    color: #93959f;
    font-size: 15px;
    font-weight: 500;
}
.swiggy--city p{
    font-size: 14px;
    font-weight: 600;
    
}
.swiggy--city span{
    color: #93959f;
}

/* service swiggy */
.swiggy--about{
    background-color: rgb(43,30,22);
    padding: 1rem 1.5rem;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
.service{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    color: antiquewhite;
}
.service p{
   text-align: center;
}
.service div{
    width: 100px;
    object-fit:cover;
}
.serviceimage img{
    width: 100%;
}


/* swiggy-phone */

.swiggy--app{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 16px;
    
}
.swiggy-app-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
    justify-content: center;


}
.swiggy-app-content h2{
    font-size: 2.5rem;
    width: 300px;
}
.swiggy-app-content p{
width: 350px;
}
.downlod-image{
    display: flex;
    gap: 5px;
    width: 200px;
}
.downlod-image img{
    width: 100%;
}
.phone1,.phone2{
    width: 350px;
}
.phone1 img,.phone2 img{
    width: 100%;
}

footer{
    background-color: #000000;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
}
footer li{
    list-style: none;
}
footer li:hover{
    cursor: pointer;
    color: #93959f;
}
.footer-image{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}
footer-image img{
    width: 100%;
}



@media only screen and (max-width: 999px) {
  
    .swiggy--heroimg{
        display: none;
    }
    .swiggy--herosection{
        /* background:linear-gradient(0deg, rgba(5, 5, 5, 0.719), rgba(0, 0, 0, 0.664)) , url(./images/heroimage.webp);
        background-repeat: no-repeat;
        background-size: cover; */
    }
}
@media only screen and (max-width: 780px) {
  .swiggy--app{
    grid-template-columns: 1fr;
    grid-row: auto;
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (max-width: 450px) {
    .swiggy--app,footer{
      grid-template-columns: 1fr;
      grid-row: auto;
      gap: 10px;
 
    }
    .swiggy--navbar{
        flex-direction: column;
        gap: 10px;
    }
    .downlod-image{
        flex-direction: column;
    }
    .swiggy--herosection{
        height: 100% !important;
    }
    .swiggy--herocontent{
        padding: 1rem !important;
    }
  }
